.headerSearch {
	width: 60%;
	height: 50px;
	padding: 5px;
	position: relative;
	background: #f3f4f7;
	border-radius: var(--border-radius);
	border: 1px solid var(--rgba-black1);
}

.headerSearch input {
	background: transparent !important;
	outline: none !important;
	font-size: 15px;
	color: var(--rgba-black8);
	width: 100%;
	height: 35px;
	border: 0px !important;
	padding: 0px 20px !important;
}

.headerSearch input::placeholder {
	color: var(--rgba-black5)
}

.headerSearch input:focus::placeholder {
	color: var(--rgba-black2)
}

.headerSearch button {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 100;
	min-width: 30px !important;
	height: 30px !important;
	width: 30px !important;
	border-radius: 50px !important;
	color: var(--cor-principal);
}

.headerSearch button svg {
	font-size: 25px;
}