@import url("./config/constants.css");

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: white;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.headerWrapper {
  border-bottom: 1px solid var(--rgba-black1);
}
