:root {
	--cor-principal: #d8595a;
	--cor-secundaria: #f6bb92;
	--border-radius: 10px;
	--rgba-black: rgba(0, 0, 0, 0.8) !important
}

* {
	margin: 0px;
	padding: 0px
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	font-family: "Lato", "sans-serif";
	font-size: 14px;
}

.bg-aura {
	/* background: #8e00a3; */
	background: var(--cor-principal);
}

@media (min-width: 1300px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1200px;
	}
}

.headerWrapper .top-strip {
	padding: 8px 0px;
}

.headerWrapper .top-strip p {
	color: white;
}

.headerWrapper .header {
	width: 100%;
	height: auto;
	padding: 25px 0px;
}

.logoWrapper img {
	width: 100%;
}

.searchCEP input {
	width: 80%;
	height: 30px;
	padding: 45px;
	font-size: 14px;
	position: relative;
	background: #f3f4f7;
	border-radius: var(--border-radius);
	padding: 0px 20px !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header .headerSearch {
	width: 60%;
	height: 50px;
	background: #f3f4f7;
	padding: 5px;
	position: relative;
	border-radius: var(--border-radius);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header .headerSearch input {
	background: transparent !important;
	outline: none !important;
	font-size: 15px;
	color: var(--rgba-black);
	width: 100%;
	height: 35px;
	border: 0px !important;
	padding: 0px 20px !important;
}

header .headerSearch input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6)
}

header .headerSearch button {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 100;
	min-width: 30px !important;
	height: 30px !important;
	width: 30px !important;
	border-radius: 50px !important;
	color: var(--cor-principal);
}

header .headerSearch button svg {
	font-size: 25px;
}

header .part3 .circle {
	align-items: center;
	justify-content: center;
	min-width: 40px !important;
	height: 40px !important;
	width: 40px !important;
	border-radius: 50px !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	color: var(--cor-principal);
}

header .part3 .circle svg {
	font-size: 22px;
}

.cardTab .price {
	font-size: 18px;
	color: var(--rgba-black);
	font-weight: 700;
}

.cardTab button {
	background: #fff1ee;
}

.cardTab .count {
	position: absolute;
	top: -6px;
	right: -4px;
	background: var(--cor-principal);
	border-radius: 50%;
	color: #fff;
	width: 20px;
	height: 20px;
}

div .allCatTab {
	background: var(--cor-secundaria);
	padding: 10px 15px !important;
	border-radius: 30px !important;
}

div .allCatTab * {
	color: #fff
}

div .allCatTab:hover {
	background: var(--cor-principal);
}

div .allCatTab .text {
	font-weight: 600;
}

div .allCatTab .icon1 svg {
	font-size: 20px !important;
}

div .allCatTab .icon2 svg {
	font-size: 15px !important;
}

nav .navPartCategories ul {
	margin-bottom: 0px;
}

nav .navPartCategories ul li a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: var(--rgba-black);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding: 0px 5px;
	transition: all 0.2s ease-in-out;
	border-radius: var(--border-radius);
}

nav .navPartCategories ul li a svg {
	font-size: 20px;
}

nav .navPartCategories ul li a:hover {
	background: #f0faff;
	color: var(--cor-principal)
}